<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Products.NetCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />

</head>
<body>

    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Örnek MVC Projesi</a>

                <section>
                    <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Urunler">Ürünler</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik Politikası</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Yönetici Girişi</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-icon">
        <section class="features">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature">
                            <img src="~/Images/ft-1.png" alt="Özellik 1">
                            <h2>Hızlı ve Kolay Alışveriş</h2>
                            <p>Hemen Deneyin!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet gravida turpis, sit amet tincidunt odio luctus in. Vestibulum vel ligula quis libero facilisis blandit.</p>
                            <p>Aenean eget finibus quam. Pellentesque tristique, sapien in fringilla blandit, purus metus ullamcorper enim, quis vehicula massa justo eget massa. Sed bibendum at urna nec blandit. Proin imperdiet tempor venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <img src="~/Images/ft-2.png" alt="Özellik 2">
                            <h2>Güvenilirlik</h2>
                            <p>Müşterilerimize güvenilir bir hizmet sunuyoruz. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet gravida turpis, sit amet tincidunt odio luctus in. Vestibulum vel ligula quis libero facilisis blandit.</p>
                            <p>Aenean eget finibus quam. Pellentesque tristique, sapien in fringilla blandit, purus metus ullamcorper enim, quis vehicula massa justo eget massa. Sed bibendum at urna nec blandit. Proin imperdiet tempor venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <img src="~/Images/ft-3.png" alt="Özellik 3">
                            <h2>Yenilikçi Ürünler</h2>
                            <p>Eşsiz ürünlerimizle sizlerleyiz.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet gravida turpis, sit amet tincidunt odio luctus in. Vestibulum vel ligula quis libero facilisis blandit.</p>
                            <p>Aenean eget finibus quam. Pellentesque tristique, sapien in fringilla blandit, purus metus ullamcorper enim, quis vehicula massa justo eget massa. Sed bibendum at urna nec blandit. Proin imperdiet tempor venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <div>
            <p>
                &copy; 2023 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik Politikası</a>
                Telif Hakkı &copy; 2023 Örnek Site
            </p>

        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
