@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-5">Hoş Geldiniz</h1>
    <br />
    <img src="~/Images/indir (3).png" />
    <br />
    <p style="font-style:italic">EN İYİ ÜRÜNLERİ SİZİN İÇİN DERLEDİK</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet gravida turpis, sit amet tincidunt odio luctus in. Vestibulum vel ligula quis libero facilisis blandit. Aenean eget finibus quam. Pellentesque tristique, sapien in fringilla blandit, purus metus ullamcorper enim, quis vehicula massa justo eget massa. Sed bibendum at urna nec blandit. Proin imperdiet tempor venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</P>
        <img src="~/Images/images.png" />
      <p>  Phasellus non lorem quis leo pretium dapibus. Morbi eu nisi eleifend, fringilla mauris a, dapibus mi. Ut malesuada malesuada viverra. Nulla ullamcorper pellentesque enim, quis placerat mauris rhoncus eu. Phasellus porta ultricies auctor. Nunc blandit fringilla arcu, eu pellentesque magna facilisis aliquet. Nulla convallis vehicula eros ut sagittis. Quisque quis arcu cursus, tincidunt lacus ac, pretium enim.</p>
      <img src="~/Images/indir.png" />

    <p>    Quisque eu venenatis massa, ultricies porttitor dolor. Curabitur justo mi, egestas nec mauris id, maximus sagittis risus. Suspendisse vel dui quam. Suspendisse condimentum semper leo quis sodales. Aenean placerat urna elit, ut laoreet sapien porttitor in. Nulla vitae diam euismod, scelerisque lacus molestie, bibendum justo. Mauris placerat sapien eget nunc tristique porta.
    </p>
    <img src="~/Images/img.png" />
       <a class="text-dark "  asp-area="" asp-controller="Products" asp-action="Urunler">
           <p class="ridge"> Hemen Keşfedin</p>
        </a>
    

   
</div>
