@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p style="text-align:justify">

    <h6> Gizlilik Politikamız</h6>

<p> Bu gizlilik politikası, [Şirket Adı] tarafından işletilen [Web Sitesi Adı] web sitesi kullanıcılarının gizliliğini nasıl koruduğumuzu açıklamaktadır. Kişisel bilgilerinizi nasıl topladığımız, nasıl kullanıldığı ve korunduğu konularında sizi bilgilendirmek istiyoruz.</p>

<h6> Toplanan Bilgiler</h6>

<p> [Web Sitesi Adı], kullanıcıların web sitemizi ziyaret ettiğinde belirli kişisel bilgileri toplayabilir. Bu bilgiler, kullanıcıların gönüllü olarak sağladığı ad, e-posta adresi, telefon numarası gibi bilgiler olabilir.</p>

<h6>Kullanılan Bilgiler</h6>

<h6>Toplanan kişisel bilgiler, aşağıdaki amaçlar için kullanılabilir:</h6>

<ul> Kullanıcıların taleplerini yanıtlamak ve sorunları çözmek</ul>
<ul> Kullanıcıların hizmetlerimizden en iyi şekilde yararlanmasını sağlamak</ul>
<ul> Ürünlerimiz ve hizmetlerimiz hakkında güncellemeler, promosyonlar veya diğer bilgileri göndermek</ul>
<ul>İstatistiksel analizler yapmak ve web sitesi performansını izlemek</ul>

<h6>  Kişisel Bilgilerin Paylaşılması</h6>

<p>[Web Sitesi Adı], kullanıcıların kişisel bilgilerini 3. şahıslarla paylaşmayacaktır, ancak yasal gereklilikler veya yürürlükteki yasalara uygun olarak bilgileri paylaşabiliriz.</p>

<h6>Güvenlik</h6>

<p>[Web Sitesi Adı], kullanıcıların kişisel bilgilerinin güvenliğini önemsemektedir. Verilerin yetkisiz erişime, değişime veya ifşaya karşı korunması için uygun fiziksel, elektronik ve yönetimsel prosedürler uygulamaktadır.</p>

<h6> Çocukların Gizliliği</h6>

<p> [Web Sitesi Adı], 13 yaşın altındaki çocuklardan bilerek kişisel bilgi toplamamaktadır. Eğer 13 yaşın altındaki bir çocuğun kişisel bilgilerini fark edersek, bu bilgileri hemen silmeye çalışacağız.</p>

<h6> Çerezler</h6>

<p> [Web Sitesi Adı], çerezleri kullanabilir. Çerezler, web sitesinin kullanıcı tercihlerini hatırlamak ve web sitesi deneyimini geliştirmek için kullanılan küçük metin dosyalarıdır. Çerezler hakkında daha fazla bilgi için Çerez Politikamızı ziyaret edebilirsiniz.</p>

<h6> Diğer Web Siteleri</h6>
<p> [Web Sitesi Adı] web sitesinde diğer web sitelerine bağlantılar olabilir. Bu diğer web sitelerinin gizlilik uygulamalarından sorumlu değiliz. Bağlantı verdiğimiz diğer web sitelerini ziyaret ettiğinizde, kendi gizlilik politikalarını okumanızı öneririz.</p>

<h6>Gizlilik Politikası Güncellemeleri</h6>

<p> Bu gizlilik politikası, gerektiğinde güncellenebilir. Herhangi bir güncelleme durumunda, değişiklikleri bu sayfada yayınlayarak sizi bilgilendireceğiz.</p>

<h6>İletişim</h6>

<p>Gizlilik politikamızla ilgili herhangi bir sorunuz veya endişeniz varsa, lütfen bize ulaşın.</p>

<ul>  [Şirket Adı]</ul>
<ul> [Adres]</ul>
<ul>   [E-posta]</ul>
<ul>   [Telefon]</ul>

</p>
